.search-field {
    margin: 16px 24px 0 24px;
    mat-form-field {
        display: block;
        width: 100%;
    }
}

mat-card {
    margin: 16px;
    mat-card-footer {
        padding: 24px;
    }
}

.mat-column-actions {
    display: grid;
    justify-content: right;
    grid-template-columns: auto auto;
}