/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
}

app-login {
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}